.gitattributes -text whitespace=cr-at-eol
*.json -text whitespace=cr-at-eol
*.md -text whitespace=cr-at-eol
*.patch -text whitespace=-blank-at-eol,cr-at-eol
*.diff -text whitespace=-blank-at-eol,cr-at-eol
